.ModalContainer {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-width: 1px;
  border-color: #dae1e7;
  padding: 3rem 3rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.Modal__button {
  display: inline-block;
  color: #fff;
  background-color: #3490dc;
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.5rem auto 1rem;
  padding: 0.7rem 1rem;
  width: 50%;
}

.Modal__button__cancel {
  display: inline-block;
  color: #fff;
  background-color: #b0b0b0;
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.5rem auto 1rem;
  padding: 0.7rem 1rem;
  width: 50%;
}
