.Nav {
  border-bottom-width: 1px;
  border-color: #dae1e7;
  background-color: #fff;
  width: 100%;
  position: fixed;
  height: 4rem;
  z-index: 1;
}
.Nav__links {
  height: 100%;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  padding: 0 0.75rem;
}
.Nav__link {
  text-decoration: none;
  color: #22292f;
}
.Nav__link-push {
  margin-left: auto;
}
.Nav__link-margin-left {
  padding-left: 0.85rem;
}
